//  公共的样式
// 可能不同的 浏览器厂商 会为 浏览器内部的元素 添加一些 独有的样式
// 为了去掉这些 不同的 外观 有一个 非常著名的 css normalize.css
// normalize.css 让 不同的浏览器中显示的 效果 尽可能的一致
// http://necolas.github.io/normalize.css/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // 字体  sans-serif 使用 系统的 默认 无衬线字体
    // 可选
    font-family: sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

// 变为块 
img {
    display: block;
}

// 快速浮动
.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix {
    zoom: 1;
}

.clearfix::before,
.clearfix::after {
  content: '';
  display: block;
  line-height: 0;
  height: 0;
  visibility: hidden;
  clear: both;
}

//  清除 input标签的 边框 跟轮廓线
input{
    border: none;
    outline: none;
} 

// 定义的变量_
// 京东红
$jdRed:rgb(201, 21, 35);

// 清除 a标签的 手指点击 高亮
a{
    // -webkit-tap-highlight-color: hotpink;
    -webkit-tap-highlight-color: transparent;
}

// 定义边框的 通用类
.b-t{
    border-top: 1px solid #ccc;
} 
.b-r{
    border-right: 1px solid #ccc;
} 
.b-l{
    border-left: 1px solid #ccc;
} 
.b-b{
    border-bottom: 1px solid #ccc;
} 